<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <add key="ElectorsIDsFolderPath" value="C:\Electors\ElectorsIDs\" />

    <add key="ScanColorFlag" value="false" />

    <add key="ResultPath" value="C:\Electors\Template\template.jpg" />
    <add key="TemplateOrginPath" value="C:\Electors\Template\TemplateOrgin.jpg" />
    <add key="EnvironmentStr" value="laptop" />
    
    <add key="TessDataPath" value="C:\Electors\tessdata\" />



    <add key="ElectionPollingStation" value="1" />
    <add key="ElectionPollingStationAr" value="لجنة 1" />

    <add key="ElectionType" value="انتخابات مجلس الشعب" />
    

    <!-- For Scanner settings  -->
    <!-- For National IDs  -->

    <!--<add key="CropWidthSSN" value="950" />
    <add key="CropXSSN" value="1672" />
    <add key="CropYSSN" value="1602" />-->

    <!--<add key="CropHeightSSN" value="64" />
    <add key="CropWidthSSN" value="542" />
    <add key="CropXSSN" value="428" />
    <add key="CropYSSN" value="521" />-->

    <!--<add key="CropHeightSSN" value="45" />
    <add key="CropWidthSSN" value="285" />
    <add key="CropXSSN" value="213" />
    <add key="CropYSSN" value="230" />-->


    <!--<add key="CropWidthSSN" value="950" />
    <add key="CropXSSN" value="1672" />
    <add key="CropYSSN" value="1602" />-->
   

    <add key="CropXSSN" value="381" />
    <add key="CropYSSN" value="498" />
    <add key="CropWidthSSN" value="575" />
    <add key="CropHeightSSN" value="63" />

    <!-- For Passport IDs  -->


    <!-- For Tablet settings  -->
    <add key="T_CropHeightSSN" value="144" />
    <add key="T_CropWidthSSN" value="963" />
    <add key="T_CropXSSN" value="278" />
    <add key="T_CropYSSN" value="293" />
    
    
    
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
<connectionStrings><add name="ElectionEntities" connectionString="metadata=res://*/ElectionEntities.csdl|res://*/ElectionEntities.ssdl|res://*/ElectionEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Election;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>